/*--------------------------------*\
* LAYOUT 

*Container............overall layout of the page
*
*Main.................over layout of the content
*
*Mobile layout........sandvich menu
\*--------------------------------*/


/*--------------------------------*\
* OVERALL LAYOUT OF THE PAGE
\*--------------------------------*/

.container {
    display:        flex;
    flex-flow:      column nowrap;
    min-height:     100vh;
    width:          100%;
  }
  
  
  
  
  
  /*--------------------------------*\
  * CONTENT LAYOUT
  \*--------------------------------*/
  
  main {
    display:         flex;
    flex-flow:       row wrap;      
    justify-content: center;
    align-items:     center;
    flex-grow:       1;
    gap:             1.875rem;
    width:           100%;
    padding:         2.5rem 0 2.5rem 0;
}





/*--------------------------------*\
  * MOBILE LAYOUT
\*--------------------------------*/

@media (max-width: 991px) {
  nav {
    display: none;
    flex-flow: column nowrap; /* Elrendezés változtatása az elrejtés miatt */
  }

  .nav-menu {
    display: block;
  }
}